/* 定义容器尺寸 */
body {
    margin: 0;
    height: 100vh;
}

.text {
    width: 100%;
    height: 100%;

    /* 设置子元素的布局方式 */
    display: flex;
    justify-content: space-between;
}

.text span {
    width: 100%;
    
    /* 定义文本样式 */
    color: darkslategray;
    background-color: rgb(127, 140, 141);
    font-family: serif;
    font-size: 12vmin;
    text-shadow: 1px 1px 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 设置文本的背景的渐变色，奇数位的文字和偶数位的文字的渐变方向是相反的 */
.text span:nth-child(odd) {
    background: linear-gradient(
        to bottom,
        rgba(127, 140, 141, 0.2) 0%,
        rgba(127, 140, 141, 0) 33%,
        rgba(127, 140, 141, 0.7) 66%,
        rgba(127, 140, 141, 0.2) 100%
    );
}
.text span:nth-child(even) {
    background: linear-gradient(
        to top,
        rgba(127, 140, 141, 0.2) 0%,
        rgba(127, 140, 141, 0) 33%,
        rgba(127, 140, 141, 0.7) 66%,
        rgba(127, 140, 141, 0.2) 100%
    );
}

/* 增加文字之间的分隔线，第一个文字之前不用加分隔线 */
.text span {
    position: relative;
}

.text span:not(:first-child)::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 90%;
    background-color: black;
    left: -5px;
    border-left: 1px solid white;
    border-radius: 50%;
}

/* 让分割线上下错位 */
.text span:not(:first-child):nth-child(odd)::before {
    top: 2%;
}

.text span:not(:first-child):nth-child(even)::before {
    bottom: 2%;
}