body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 定义容器尺寸，用vmin单位，并让子元素竖向排列 */
.container {
    width: 100vmin;
    height: 100vmin;
    display: flex;
    flex-direction: column;

    /* 在容器底部补上一条细线 */
    border-bottom: 0.5vmin solid gray;
}

/* 设置子元素的背景图案为间隔的黑白色块，顶部有一条细线 */
.container span {
    width: inherit;
    height: 10vmin;
    background:
        linear-gradient(
            gray, gray 0.5vmin,
            transparent 0.5vmin, transparent
        ),
        repeating-linear-gradient(
            to right,
            black, black 10vmin,
            transparent 10vmin, transparent 20vmin
        );
}

/* 增加动画效果，让奇数行的背景向右移动半个色块的位置，移动之后看起来好像奇数行右宽左窄，偶数行左宽右窄，这是一种错觉 */
.container span:nth-child(odd) {
    animation: move 5s linear infinite;
}

/* 给偶数行的背景也移动起来，并且反向 */
.container span:nth-child(even) {
    animation: move 5s linear infinite reverse;
}

@keyframes move {
    0%, 55%, 100% {
        background-position: 0 0;
    }

    5%, 50% {
        background-position: 5vmin 0;
    }
}