body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(lightyellow, burlywood);
}

/* 定义容器尺寸，并画出固定摆线示意墙 */
.pendulums {
    width: 40em;
    height: 30em;
    font-size: 10px;
    border-top: 0.3em solid cadetblue;
    position: relative;
}

/* 画出一条摆线 */
.pendulums span {
    position: absolute;
    width: 0.2em;
    height: 15em;
    background-color: cadetblue;
    left: 50%;
}

/* 用伪元素画出摆线底部悬挂的小球 */
.pendulums span::before {
    content: '';
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background: steelblue;
    border-radius: 50%;
    top: 100%;
    left: -0.75em;
    /* 用渐变为小球增加光影 */
    background: radial-gradient(
        circle at 70% 35%,
        white,
        darkturquoise 30%,
        steelblue 50%
    );
}

/* 用伪元素划出小球的阴影 */
.pendulums span::after {
    content: '';
    position: absolute;
    width: 2em;
    height: 0.3em;
    background-color: rgab(0, 0, 0, 0.2);
    top: 120%;
    left: -1em;
    filter: blur(0.4em);
}

/* 以摆线的顶点为原点，将摆线向左旋转 */
.pendulums span {
    transform-origin: 50% top;
    transform: rotate(25deg);
    animation: swing ease-in-out infinite;
    animation-duration: 1.5s;
    /* 用变量设置摆线的长度和动画的时长，都是逐渐增大的等差数列 */
    height: calc((var(--n) - 1) * 1em + 15em);
    animation-duration: calc((var(--n) - 1) * 0.02s + 1.5s);
}

/* 让摆线摆动起来 */
@keyframes swing {
    50% {
        transform: rotate(-25deg);
    }
}
