body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(floralwhite, wheat);
}

/* 定义容器尺寸 */
.fridge {
  position: relative;
  width: 24em;
  height: 38em;
  font-size: 10px;  
  /* 画出冰箱的轮廓 */
  border-top: 1em solid #333;
  border-bottom: 1em solid #333;
  background: silver;
  border-radius: 4em / 0.5em;
  box-shadow: 0 0.5em 1em -0.5em rgba(0, 0, 0, 0.5);
  /* 用线性渐变画出冰箱的金属表面和把手 */
  background:
   linear-gradient(
     to right,
     transparent 40%,
     gray 40%,
     silver 41%,
     dimgray 43%,
     transparent 43%, transparent 48%,
     gray 48%,
     silver 49%,
     dimgray 51%,
     transparent 51%
   ) no-repeat center / 100% 90%,
   linear-gradient(
    to right,
    darkgray,
    lightgray 10%,
    silver 40%, silver 45%,
    black 45%, black 46%,
     silver 46%, silver 80%,
    darkgray 90%,
    dimgray
  );
}

/* 用before为元素画出饮水机的轮廓 */
.fridge::before {
  content: '';
  position: absolute;
  width: 6em;
  height: 7.5em;
  background: black;
  top: calc((100% - 7.5em) / 2);
  left: 2.5em;
  /* 用线性渐变画出饮水机的挡板，用径向渐变画出饮水机的出水口，led灯 */
  background:
   radial-gradient(
    circle at 88% 10%,
    limegreen, limegreen 0.2em,
    transparent 0.2em
   ),
   radial-gradient(
     circle at 75% 10%,
     hotpink, hotpink 0.2em,
     transparent 0.2em
   ),
   radial-gradient(
    circle at 25% 10%,
    dodgerblue, dodgerblue 0.2em,
    transparent 0.2em
   ),
   radial-gradient(
    circle at 12% 10%,
    gold, gold 0.2em,
    transparent 0.2em
   ),
   radial-gradient(
    circle at 50% 22%,
    black, black 1em,
    transparent 1em
   ),
   linear-gradient(
      transparent 25%,
      #222 25%
   ) no-repeat center top / 94% 98%
   black;
}

/* 用 after 元素画出杯子的轮廓 */
.fridge::after {
  content: '';
  position: absolute;
  width: 2em;
  height: 3em;
  background: deepskyblue;
  bottom: calc((100% - 7.5em) / 2);
  left: calc(2.5em + (6em - 2em) / 2);
  /* 修改杯子的形状，使其顶大底小 */
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  /* 让杯子顶部的颜色变浅，看起来好像杯里有水一样，并且添加气泡 */
  background:
   radial-gradient(
     circle at 35% 40%,
     lightblue, lightblue 0.1em,
     transparent 0.4em
   ),
   radial-gradient(
     circle at 65% 60%,
     lightblue, lightblue 0.1em,
     transparent 0.1em
   ),
   radial-gradient(
     circle at 45% 80%,
     lightblue, lightblue 0.1em,
     transparent 0.1em
   ),
   linear-gradient(
     to bottom,
     lightskyblue 25%,
     transparent 25%
   ), deepskyblue;
}
