/*居中显示*/
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(midnightblue, black);
}

/*画出 7 个方块*/

.loader {
  width: calc(1em * 7 + 0.15em * 6);
  height: 1.5em;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.loader span {
  width: 1em;
  background-color: deepskyblue;
  border-radius: 0.1em;
  /*让方块倾斜*/
  /*增加色块的缩放效果*/
  transform: skewX(-25deg) scale(0.1);
  /*定义闪烁的动画效果*/
  animation: animate 0.8s infinite alternate;
  filter: opacity(0);
}

@keyframes animate {
  to {
    filter: opacity(1);
    transform: skewX(-25deg) scale(1);
  }
}

/*定义变量，设置动画延时，是效果看起来像是有一个暗色块从左到右移动*/
.loader span {
  animation-delay: calc((var(--n) - 1) * 0.2s);
}

.loader span:nth-child(1) {
  --n: 1;
}

.loader span:nth-child(2) {
  --n: 2;
}

.loader span:nth-child(3) {
  --n: 3;
}

.loader span:nth-child(4) {
  --n: 4;
}

.loader span:nth-child(5) {
  --n: 5;
}

.loader span:nth-child(6) {
  --n: 6;
}

.loader span:nth-child(7) {
  --n: 7;
}