body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, silver, teal);
}

/* 定义摩天轮的直径,其他长度均以此值为基本尺度 */
.loader {
  --diameter: 10em;
  /* 定义容器尺寸,宽是高的两倍 */
  --width: calc(var(--diameter) * 2);
  width: var(--width);
  height: var(--diameter);
  position: relative;
  --stroke-width: calc(var(--diameter) / 40);
  color: white;
  /* 定义了一个表示圆点直径的变量 */
  --dot-diameter: calc(var(--diameter) / 10);
  overflow: hidden;
}

/* 定义伪元素的共享属性 */
.loader::before,
.loader::after {
  content: '';
  position: absolute;
  bottom: 0;
}

/* 画出底部的轨道,同事定义了一个表示线粗细的变量 */
.loader::before {
  width: inherit;
  height: var(--stroke-width);
  background-color: currentColor;
}

/* 画出中部的圆形轨道 */
.loader::after {
  box-sizing: border-box;
  width: var(--diameter);
  height: var(--diameter);
  border: var(--stroke-width) solid;
  border-radius: 50%;
  left: 25%;
}

/* 画出一个圆点 */
.loader span {
  position: absolute;
  width: var(--dot-diameter);
  height: var(--dot-diameter);
  background-color: currentColor;
  border-radius: 50%;
  bottom: var(--stroke-width);
  left: calc((var(--width) - var(--dot-diameter)) / 2);
  animation:
   run 2s linear infinite,
   rotating 2s linear infinite;
  --vertical-center: calc((var(--diameter) / 2 - var(--stroke-width) - var(--dot-diameter)) * -1);
  transform-origin: 50% var(--vertical-center);
}

/* 为圆点增加沿圆形轨道旋转的动画效果 */
@keyframes rotating {
  0%, 10% {
    transform: rotate(0deg);
  }

  60%, 100% {
    transform: rotate(-1turn);
  }
}

/* 为圆点增加移动的动画效果 */
@keyframes run {
  0% {
    left: calc(var(--dot-diameter) * -1);
  }

  10%, 60% {
    left: calc((var(--width) - var(--dot-diameter)) / 2);
  }

  70%, 100% {
    left: calc(var(--width));
  }
}

/* 为另外两个圆点设置动画延时,使三个圆点看起来像是紧挨着的三个车厢 */
.loader span:nth-child(1) {
  animation-delay: 0.075s;
}

.loader span:nth-child(2) {
  animation-delay: 0.15s;
}